// Variables
$primary-color: #008847;
$primary-text-color: #eee;
$headline-font: serif;
$primary-color-light: lighten($primary-color, 25%);
$transparent-primary-color-light: transparentize($primary-color-light, .67);
$banner-color: #ffc107;

// Mixins

@mixin center {
    margin-left: auto;
    margin-right: auto;
    @content;
}

@mixin btn {
    margin-bottom: 1em;
    background-color: $banner-color;
    border-radius: 5px;
    padding: .5em 1em;
}
// Base Styles
.nav {
    @include center;
}
body {
    background-color: $primary-color;
}

a {
    color: $primary-text-color;
}


// Components
.navbar {
    background-color: $primary-color;
    border-bottom: solid white 1px;
}

.jumbotron {
    padding-top: 3em;
    background: linear-gradient(black, white 55%), url("../img/jumbo.jpg");
    background-blend-mode: multiply;
    background-size: cover;
    background-position: 0% 40%;
    min-height: 300px;
    h1 {
        margin-top: .5em;
        font-family: $headline-font;
        color: $primary-text-color;

    }
}

#jumbo-lead {
    color: $primary-text-color;
}

.issues-card {
    padding-top: 1em;
    margin-bottom: 1em;
    background-color: white;
    text-align: center;
    border-radius: 5px;
    h1 {
        font-family: $headline-font;
        text-align: center;
    }

    img {
        @include center;
        width: 80%;
    }
    p {
        padding-bottom: 50px;
        text-align: center;
    }

    .join-button {
        @include btn;
        position: absolute;
        bottom:0;
        text-align:center;
        @include center;
        
    }


}


//media queries
@media (min-width:768px) {

    .nav {
        margin-left: 0;
    }
    .jumbotron {
        background: linear-gradient(black, white 55%), url("../img/jumbo.jpg");
        background-size: cover;
        background-position: 60%;
    }

    .issues-card {
        img {
            display: block;
            width: 80%;
            @include center;
        }
    }

}
