$primary-color: #008847;
$primary-text-color: #eee;
$headline-font: serif;




a {
    color: $primary-text-color;
}

.navbar {
    background-color: $primary-color;
    border-bottom: solid white 1px;
}

.jumbotron {
    // min-height: 350px;
    padding-top: 3em;
    background: linear-gradient(black, white 55%), url("../img/jumbo.jpg");
    background-blend-mode: multiply;
    background-size: cover;
    background-position: 0% 40%;
    min-height: 300px;
}

.jumbotron h1 {
    margin-top: .5em;
    font-family: $headline-font;
    color: $primary-text-color;

}

#jumbo-head {

}

#jumbo-lead {
    color: $primary-text-color;
}

//media queries
@media (min-width:768px) {

    .jumbotron {

        background: linear-gradient(black, white 65%), url("../img/jumbo.jpg");
        background-size: cover;
        background-position: 60%;

    }


}
